<!DOCTYPE html>
<html lang="en" ng-app="neostore">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- AngularJS v1.8.2-->
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-messages.min.js"></script>

    <!--Styles-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!--Enable custom alert using sweetalert lib-->
    <script src="lib/sweetalert.min.js"></script>
    <!--Enable custom mask in input using cleave lib-->
    <script src="lib/cleave.min.js"></script>
    <!--Module-->
    <script src="app/app.js"></script>
    <!--Service-->
    <script src="app/service/supplier.service.js"></script>
    <!--Controller-->
    <script src="app/controller/main.controller.js"></script>

</head>

<body ng-controller="MainController as mainCtrl">

    <header ng-include="'app/component/header.template.html'"></header>

    <suppliers ng-include="'app/component/paginated-suppliers.template.html'"></suppliers>

    <button ng-if="!mainCtrl.displayForm" type="reset" class="btn btn-primary btn_body" id="button" ng-click="mainCtrl.executeWhenCadastrarButtonClicked()">Cadastrar novo fornecedor</button>

    <div ng-if="mainCtrl.displayForm" class="container">
        <h3 class="text-center py-1"> {{ mainCtrl.isSupplierToBeUpdated ?  'Atualizar Fornecedor' : 'Cadastrar Fornecedor' }}</h3>
    
        <form name="formulario">
            <div class="inputs row gap-1">
                <div class="form-group row">
                    <label for="nome-input" class="col-2 col-form-label">Nome do Fornecedor</label>
                    <div class="col-10">
                        <input class="form-control" type="text" name="name" ng-model="mainCtrl.tempSupplier.name"
                            ng-required="true" ng-pattern="/.+/">
                        <div class="error-messages" ng-messages="formulario.name.$error" ng-if="formulario.name.$touched || formulario.$submitted">
                            <div class="error-message" ng-message="required">Campo obrigatório!</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email-input" class="col-2 col-form-label">Endereço de e-mail</label>
                    <div class="col-10">
                        <input class="form-control" type="email" name="email" placeholder="gandalf@email.com"
                            ng-model="mainCtrl.tempSupplier.email" ng-required="true"
                            ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                        <div class="error-messages" ng-messages="formulario.email.$error"
                            ng-if="formulario.email.$touched || formulario.$submitted">
                            <div class="error-message" ng-message="pattern || required">Campo obrigatório, insira um e-mail válido. (exemplo@email.com)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="comment-input" class="col-2 col-form-label">Descrição</label>
                    <div class="col-10">
                        <input class="form-control" type="text" ng-model="mainCtrl.tempSupplier.description">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cnpj-input" class="col-2 col-form-label">CNPJ</label>
                    <div class="col-10">
                        <input class="form-control cnpj" type="text" name="cnpj" ng-model="mainCtrl.tempSupplier.cnpj"
                            ng-required="true" ng-pattern="/^\d{2}\.\d{3}\.\d{3}\/\d{4}-\d{2}$/">
                        <div class="error-messages" ng-messages="formulario.cnpj.$error" ng-if="formulario.cnpj.$touched || formulario.$submitted">
                            <div class="error-message" ng-message="pattern || required">Campo obrigatório, insira um cnpj válido. </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-4">
                <button type="button" class="btn btn-success"
                    ng-click="mainCtrl.isSupplierToBeUpdated? mainCtrl.executeWhenUpdateButtonClicked(formulario): mainCtrl.createSupplier(formulario) ">
                    {{ mainCtrl.isSupplierToBeUpdated ?  'Atualizar' : 'Cadastrar'}}
                </button>
                <button type="reset" class="btn btn-primary" ng-click="mainCtrl.executeWhenCancelButtonClicked(formulario)">Cancelar</button>
                
            </div>
        </form>
    </div>
    

    <footer ng-include="'app/component/footer.template.html'"></footer>

    
    <!--
    <custom_form ng-if="mainCtrl.displayForm"  ng-include="'app/component/cadastrar-e-atualizar.template.html'"></custom_for>
    -->
</body>

</html>